<div id="intro">
    <div class="introContainer">
        <div class="image_overlay"></div>
        <div class="banner-Image"></div>
        <div class="row">
            <div class="banner-text landing-text-pos">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h1 class="animated bounceInDown"><b>codeathon</b>2017<span class="regi-Mark">&reg;</span>
                            </h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h1 class="animated lightSpeedIn"><b>Geek Night Coimbatore</b></h1>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <h6 class="animated fadeInRightBig" style="font-size: 32px;">11<sup>th</sup> edition,August 15,2017
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <p class="animated fadeInLeftBig" style="font-size: 26px">An open forum for geeks to connect, discuss & learn latest ideas, technologies and trends in
                                software development
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="animated zoomIn col-md-12">
                        <div class="row">
                            <div class="clock-Container hvr-push">
                                <div class="days">
                                    <h3>Days</h3>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.days.toString().charAt(0)"></h1>
                                    </div>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.days.toString().charAt(1)"></h1>
                                    </div>
                                </div>
                                <div class="hours">
                                    <h3>Hours</h3>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.hours.toString().charAt(0)"></h1>
                                    </div>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.hours.toString().charAt(1)"></h1>
                                    </div>
                                </div>
                                <div class="minutes">
                                    <h3>Minutes</h3>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.minutes.toString().charAt(0)"></h1>
                                    </div>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.minutes.toString().charAt(1)"></h1>
                                    </div>
                                </div>
                                <div class="seconds">
                                    <h3>Seconds</h3>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.seconds.toString().charAt(0)"></h1>
                                    </div>
                                    <div class="widget-Clock">
                                        <div class="widgetClock-top"></div>
                                        <h1 data-ng-bind="vm.times.seconds.toString().charAt(1)"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="greet">
    <div class="greetMessage">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="row">
                        <h1>about the event</h1>
                        <hr>
                    </div>
                    <div class="row">
                        <p>Geek Night is a monthly event to promote sharing of technical knowledge and increase collaboration
                            between geeks in Coimbatore. It is organized by a passionate group of programmers and sponsored
                            by ThoughtWorks.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="row participate">
                                <h1><a href="">Participate</a></h1>
                            </div>
                            <div class="row subtitle">
                                <p>to learn exciting new stuff<br>
                                    <small>(and to connect with fellow geeks)</small>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="row participate">
                                <h1><a href="">Present</a></h1>
                            </div>
                            <div class="row subTitle">
                                <p>to share exciting new stuff<br>
                                    <small>(accepted for this and subsequent geek nights)</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="agenda">
    <div class="agendaContent">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <h1>agenda</h1>
                        <hr>
                    </div>
                    <div class="row agendaAlign">
                        <div class="col-md-12">
                            <div ng-repeat="ele in vm.item" class="row agendaAlignHover">
                                <div class="col-md-4 fontAlignright">
                                    <p ng-bind="ele.aTime"></p>
                                </div>
                                <div class="col-md-2">
                                    <p>~</p>
                                </div>
                                <div class="col-md-4 fontAlignjustify">
                                    <p ng-bind="ele.a_desc"></p>
                                    <p><small class="fontSize" ng-bind="ele.a_ins"></small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="agendaCalc">
    <div class="agendaCalcWidget">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="edition">
                            <h1>Edition</h1>
                            <hr>
                        </div>
                    </div>
                    <div class="row alignUlItems">
                        <div class="navcentre">
                            <ul class="child">
                                <li ng-repeat="ele in vm.Agenda" class="rowLink widget">
                                    <p class="widget-top"><span data-ng-bind="ele.eMonth"></span></p>
                                    <h1 class="h1Class"><span data-ng-bind="ele.eDate"></span></h1>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer>
<div class="footerContent">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="row">
                <p><a href="#">Geek Night Coimbatore</a> sponsored by <a target="_blank" href="https://thoughtworks.com/">ThoughtWorks</a></p>
            </div>
        </div>
        </div>
    </div>
</div>
</footer>